In [5]:
print("challenjourrrrr")

challenjourrrrr

In [6]:
# setup
!pip install xlrd
import pandas as pd

Requirement already satisfied: xlrd in /Users/emilyyu/.platformio/penv/lib/python3.8/site-packages (1.2.0)
WARNING: You are using pip version 20.2.3; however, version 20.3.3 is available.
You should consider upgrading via the '/Users/emilyyu/.platformio/penv/bin/python -m pip install --upgrade pip' command.

In [7]:
# read in initial csv 

df = pd.read_csv('data/challenger_match_V2.csv')
df

,Unnamed: 0,gameId,season,role,lane,accountId
0,0,4118590836,13,SOLO,TOP,IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
1,1,4118495113,13,DUO_SUPPORT,NONE,IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
2,2,4118432488,13,DUO_SUPPORT,NONE,IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
3,3,4118306793,13,SOLO,TOP,IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
4,4,4105344112,13,DUO_SUPPORT,NONE,IIWG7FRiqE8CuZaCslKkNxkglwpgnePPxDslb2tv66FKrgo
...,...,...,...,...,...,...
59344,95,4165335600,13,DUO,NONE,N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
59345,96,4164540964,13,DUO_SUPPORT,BOTTOM,N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
59346,97,4164397966,13,DUO_SUPPORT,BOTTOM,N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
59347,98,4164339196,13,DUO_SUPPORT,BOTTOM,N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg
59348,99,4164323321,13,DUO_SUPPORT,BOTTOM,N1zaglgoWTch14yyt0KL7P5iPKB5or3YBI0Ba44Pgwsg

In [8]:
# create script selenium to automate riot api sample requests and fill in csv

In [9]:
# perform similar clustering to